/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}

/*NAVIGATION BAR */
.navbar{
    display: flex;
    background-color:#275b9b;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-wrap: nowrap;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 75px;
    width: 79px;
    border: 2px solid white;
    border-radius: 50px;
}

.nav-list{
    width: 90%;
    display: flex;
    align-items: center;
    
}
.nav-list li{
    list-style: none;
    padding: 8px 25px;
    font-size: 20px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-family: 'Aclonica';
    transition: color 0.3s;
}
.nav-list li a:hover , .nav-list li a.active{
    text-decoration: none;
    color: grey;
}

.rightnav{
    width: 50%;
    text-align: right;
    padding: 22px 10px;
    
}
#search{
    font-size: 20px;
    border-radius: 11px;
    text-align: center;
    padding: 3px 0px;
}


/* BACKGROUND */
.background{
    background: url('../images/background.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.bg-section{
    height: 91vh;
}


.heading{
    font-size: 50px;
    padding-top: 20px;
    text-align: center;
    color: white;
    padding: 42px;
    font-family: 'Ubuntu';
}
.btn{
    padding: 5px 13px;
    margin: 6px 5px;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    background: none;
    color: white;
    transition: linear;
    transition: background-color 0.8s, color 0.8s;
}
.btn:hover{
    background-color: white;
    color: black;
}
.btn-sm{
    padding: 3px 11px;
    font-size: 14px;
    vertical-align: middle;
}



#contact{
    position: relative;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
#contact-box form{
    width:40% ;
    color: white;
    padding-top: 26px;
}
#contact-box label{
    font-size: 25px;
    /* font-family: 'Bigshot One'; */
    font-family: 'Ubuntu';
}
#contact-box input, #contact-box textarea{
    width: 100%;
    padding : 5px;
    border-radius: 10px;
    font-size: 17px;
    background: none;
    color: white;
    border: 2px solid white;
}
.submit{
    width: 100%;
}
.form-group{
    padding-top: 15px;
}
/* Footer */
footer{
    background-color: black;
    color: white;
    padding: 5px 22px;
    font-size: 18px;
    text-align: center;
}